@{
    ViewBag.Title = "Home Page";
}
<div id="modal01" class="modal" onclick="this.style.display='none'">
    <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div class="modal-content">
        <img id="img01" style="max-width:100%">
    </div>
</div>
            <!-- site-banner section -->
            <section class="site-content" id="home">
                <div class="banner-area">
                    <div class="author text-center">
                        <div class="author-img"></div>
                        <h1 class="text-blue font-staat font-size-40 text-uppercase py-3">Abdul Rehman Khan</h1>
                        <h5 class="font-ram font-size-27" style="color:red">I'm <span id="typed"></span></h5>
                    </div>
                </div>
            </section>
            <!-- .site-banner -->
            <!-- about me -->
            <section class="about px-4 my-5" id="about_me">
                <div class="me py-5">
                    <h5 class="text-uppercase font-oswald font-size-16 text-muted">information</h5>
                    <h1 class="text-uppercase font-staat font-size-34">About Me</h1>
                </div>
                <div class="row m-0">
                    <div class="col-sm-5 pl-0">
                        <img src="~/Content/assets/about.jpg" alt="about-me" class="img-fluid">
                    </div>
                    <div class="col-sm-6">
                        <h6 class="text-uppercase font-oswald font-size-16 text-muted">About Me</h6>
                        <h5 class="font-ram font-size-20 py-2">I'm Abdul Rehman Khan & <span id="typed_2"></span></h5>
                        <p class="font-ram text-black-50 py-2">
                            Hi, My name is Abdul Rehman KHan. I am a Web Developer & Graphic Designer, and  Experienced working with teams to produce impactful, leading-edge websites that engage customers
                            and deliver business results. Well-versed in design standards and user preferences. Knowledgeable
                            Front End Developer adept at creating successful websites that meet customer needs. Specializing in
                            collaborating with corporate customers to gather requirements, produce plans and improve designs for
                            usability and functionality. Fully proficient in Asp.net, UI & UX Designing and Graphic Designing.
                        </p>
                        <div class="d-flex flex-row flex-wrap justify-content-between py-4">
                            <div class="d-flex flex-column flex-wrap">
                                <p class="font-ram"><b>Birthday: </b><span class="text-black-50 ">02 April 1992</span></p>
                                <p class="font-ram"><b>My Page: </b><span class="text-black-50 "><a class="text-black-50 " href="https://www.facebook.com/arkdesignerbureau">ARK Designer Bureau</a></span></p>
                                <p class="font-ram"><b>Phone: </b><span class="text-black-50 ">+92 315 9429998</span></p>
                            </div>
                            <div class="d-flex flex-column flex-wrap">
                                <p class="font-ram"><b>Degree: </b><span class="text-black-50 ">Bachelor in OSftware Engineering - BS(SE)</span></p>
                                <p class="font-ram"><b>Mail: </b><span class="text-black-50 ">s.developer.ark@gmail.com</span></p>
                                <p class="font-ram">
                                    <b>Facebook: </b><span class="text-black-50 "><a href="https://www.facebook.com/ark.aries1992/"><i class="fab fa-facebook"></i> |</a></span>
                                    &nbsp;&nbsp;<b>Youtube: </b><span class="text-black-50 "><a href="https://www.youtube.com/channel/UCigckvFhGsKST2OHasLuZVw"><i class="fab fa-youtube"></i> |</a></span>
                                    &nbsp;&nbsp;<b>Twitter: </b><span class="text-black-50 "> <a href="https://twitter.com/Xilent_Youth"><i class="fab fa-twitter"></i> |</a></span>
                                </p>
                                <p class="font-ram">
                                    <b>Linkedin: </b><span class="text-black-50 "><a href="https://www.linkedin.com/in/developerark/"><i class="fab fa-linkedin-in"></i> |</a></span>
                                    &nbsp;&nbsp;<b>GitHub: </b><span class="text-black-50 "><a href="https://github.com/Arkdeveloper1992"><i class="fab fa-github"></i> |</a></span>
                                    &nbsp;&nbsp;<b>WhatsApp: </b><span class="text-black-50 "><a href="https://wa.me/+923159429998"><i class="fab fa-whatsapp"></i></a></span>
                                </p>

                            </div>
                        </div>
                        <a href="mailto: s.developer.ark@gmail.com?Subject=Hiring for Service" class="btn btn-dark text-uppercase mr-3" style="text-decoration: none; color: white;">Hire Me</a> 
                        <a href="~/Content/assets/My CV/ARKCV2021.pdf" class="btn btn-dark text-uppercase" style="text-decoration: none; color: white;">View & Download CV</a>
                    </div>
                </div>
            </section>
            <!-- .about -->
            <!-- skill -->
            <section class="skill px-4 bg-light py-5" id="services">
                <div class="ability py-3">
                    <h5 class="text-uppercase font-oswald font-size-16 text-muted">ABILITIES</h5>
                    <h1 class="text-uppercase font-staat font-size-34">MY SKILLS</h1>
                </div>
                <div class="row">
                    <div class="col-sm-6 pl-4">
                        <p class="font-ram font-size-16 text-black-50 pb-3">
                            Suspendisse sit amet metus porta, egestas magna eget, ultricies enim. In libero justoner rhoncus eu nisl sed,
                            pharetra luctus lorem. Praesent faucibus nibh nula necfermentum nunc rhoncus proin maximuster.
                        </p>
                        <p class="font-ram font-size-16 text-black-50">
                            Quisque et nulla justo. Class aptent taciti sociosqu ad litora torquent per cobia nostra, per inceptos himenaeos. Mauris pulvinar faucibus dolory. Aenean dolry andapibus
                            id lacinia a, posuere nec libero. Class aptent taciti sociosqu ad litora torquent per cobia nostra, per inceptos himenaeos.
                        </p>
                    </div>
                    <div class="col-sm-6 bars">
                        <div class="bar-1 mb-4">
                            <div class="d-flex flex-row justify-content-between">
                                <p class="font-ram font-size-16">Developer</p>
                                <span class="font-ram font-size-16">90%</span>
                            </div>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bgcolor-black" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="bar-2 mb-4">
                            <div class="d-flex flex-row justify-content-between">
                                <p class="font-ram font-size-16">Photoshop</p>
                                <span class="font-ram font-size-16">80%</span>
                            </div>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bgcolor-black" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="bar-3 mb-4">
                            <div class="d-flex flex-row justify-content-between">
                                <p class="font-ram font-size-16">Web Design</p>
                                <span class="font-ram font-size-16">95%</span>
                            </div>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bgcolor-black" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="bar-4 mb-4">
                            <div class="d-flex flex-row justify-content-between">
                                <p class="font-ram font-size-16">Social Media</p>
                                <span class="font-ram font-size-16">85%</span>
                            </div>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bgcolor-black" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .skill -->
            <!-- services -->
            <section class="services px-4 py-5">
                <div class="do py-5">
                    <h5 class="text-uppercase font-oswald font-size-16 text-muted">What i Do</h5>
                    <h1 class="text-uppercase font-staat font-size-34">SERVICES</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-4 text-center">
                        <div class="panel border p-4">
                            <span class="icon text-secondary"><i class="fas fa-laptop fa-3x"></i></span>
                            <h4 class="font-ram py-4">Web Design</h4>
                            <p class="font-ram font-size-16 text-black-50">Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra ante nulla vel justo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 text-center">
                        <div class="panel border p-4">
                            <span class="icon text-secondary"><i class="far fa-lightbulb fa-3x"></i></span>
                            <h4 class="font-ram py-4">Development</h4>
                            <p class="font-ram font-size-16 text-black-50">Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra ante nulla vel justo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 text-center">
                        <div class="panel border p-4">
                            <span class="icon text-secondary"><i class="fas fa-camera fa-3x"></i></span>
                            <h4 class="font-ram py-4">Photography</h4>
                            <p class="font-ram font-size-16 text-black-50">Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra ante nulla vel justo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 text-center">
                        <div class="panel border p-4">
                            <span class="icon text-secondary"><i class="fas fa-chart-line fa-3x"></i></span>
                            <h4 class="font-ram py-4">Marketing</h4>
                            <p class="font-ram font-size-16 text-black-50">Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra ante nulla vel justo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4 text-center">
                        <div class="panel border p-4">
                            <span class="icon text-secondary"><i class="fas fa-mobile-alt fa-3x"></i></span>
                            <h4 class="font-ram py-4">Fully Responsive</h4>
                            <p class="font-ram font-size-16 text-black-50">Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra ante nulla vel justo.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6  mb-4 text-center">
                        <div class="panel border p-4">
                            <span class="icon text-secondary"><i class="fas fa-directions fa-3x"></i></span>
                            <h4 class="font-ram py-4">Art Direction</h4>
                            <p class="font-ram font-size-16 text-black-50">Fusce suscipit, ante a hendrerit thelery ullamcorper, risus nisl cursus purus the viverra ante nulla vel justo.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .services -->
            <!-- reference -->
            <section class="reference bg-light py-5 px-4 ">
                <div class="refer py-3">
                    <h5 class="text-uppercase font-oswald font-size-16 text-muted">MY REFERENCE</h5>
                    <h1 class="text-uppercase font-staat font-size-34">REFERENCES</h1>
                </div>
                <div class="row mb-5">
                    <div class="col-sm-4 my-3">
                        <img src="~/Content/assets/reffer/refer_1.jpg" alt="refer_1" onclick="onClick(this)" class="modal-hover-opacity img-fluid">
                    </div>
                    <div class="col-sm-4  my-3">
                        <img src="~/Content/assets/reffer/refer_2.jpg" alt="refer_1" onclick="onClick(this)" class="img-fluid">
                    </div>
                    <div class="col-sm-4  my-3">
                        <img src="~/Content/assets/reffer/refer_3.jpg" alt="refer_1" onclick="onClick(this)" class="img-fluid">
                    </div>
                </div>
            </section>
            <!-- .reference -->
            <!-- work -->
            <section class="work py-5 px-4" id="portfolio">
                <div class="py-3">
                    <h5 class="text-uppercase font-oswald font-size-16 text-muted">Portfolio</h5>
                    <h1 class="text-uppercase font-staat font-size-34">Creative Works</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4 pb-5">
                        <img src="~/Content/assets/work/01.jpg" alt="work1" onclick="onClick(this)" class="img-fluid">
                    </div>
                    <div class="col-sm-4 pb-5">
                        <img src="~/Content/assets/work/02.jpg" alt="work2" onclick="onClick(this)" class="img-fluid">
                    </div>
                    <div class="col-sm-4 pb-5">
                        <img src="~/Content/assets/work/03.jpg" alt="work3" onclick="onClick(this)" class="img-fluid">
                    </div>
                    <div class="col-sm-4 pb-5">
                        <img src="~/Content/assets/work/04.jpg" alt="work4" onclick="onClick(this)" class="img-fluid">
                    </div>
                    <div class="col-sm-4 pb-5">
                        <img src="~/Content/assets/work/05.jpg" alt="work5" onclick="onClick(this)" class="img-fluid">
                    </div>
                    <div class="col-sm-4 pb-5">
                        <img src="~/Content/assets/work/06.jpg" alt="work6" onclick="onClick(this)" class="img-fluid">
                    </div>
                </div>
            </section>
            <!-- .work -->
            <!-- news -->
            <section class="news py-5 px-4 bg-light" id="news">
                <div class="py-3">
                    <h5 class="text-uppercase font-oswald font-size-16 text-muted">read</h5>
                    <h1 class="text-uppercase font-staat font-size-34">Latest news</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4 my-3">
                        <div class="card border-0">
                            <img src="~/Content/assets/news/01.jpg" class="card-img-top" onclick="onClick(this)" alt="image_1">
                            <div class="card-body">
                                <p class="font-ram font-size-16 text-black-50">in <b class="text-uppercase text-dark">Lifestyle</b></p>
                                <h5 class="card-title font-ram">Responsive Design</h5>
                                <p class="card-text text-black-50">
                                    Fusce suscipit, ante a hendrerit ullamcorper, risus nisl cursus purus, sit amet viverra ante nulla vel justo.
                                    Morbi justo erat, posuere vel libero non, bibendum convallis enim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div class="card border-0">
                            <img src="~/Content/assets/news/02.jpg" class="card-img-top" onclick="onClick(this)" alt="image_2">
                            <div class="card-body">
                                <p class="font-ram font-size-16 text-black-50">in <b class="text-uppercase text-dark">Travel</b></p>
                                <h5 class="card-title font-ram">Bootstrap Framework</h5>
                                <p class="card-text text-black-50">
                                    Fusce suscipit, ante a hendrerit ullamcorper, risus nisl cursus purus, sit amet viverra ante nulla vel justo.
                                    Morbi justo erat, posuere vel libero non, bibendum convallis enim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div class="card border-0">
                            <img src="~/Content/assets/news/03.jpg" class="card-img-top" onclick="onClick(this)" alt="image_3">
                            <div class="card-body">
                                <p class="font-ram font-size-16 text-black-50">in <b class="text-uppercase text-dark">Lifestyle</b></p>
                                <h5 class="card-title font-ram">Animation Effects</h5>
                                <p class="card-text text-black-50">
                                    Fusce suscipit, ante a hendrerit ullamcorper, risus nisl cursus purus, sit amet viverra ante nulla vel justo.
                                    Morbi justo erat, posuere vel libero non, bibendum convallis enim.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- .news -->
           

